{% import 'main/icons.tpl.html' as hope %}
<nav aria-label="Secciones">
    <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
        {% for item in menu %}<li class="nav-item"><a class="nav-link {{ item.active }}" href="{{ item.url|raw }}"{% if item.active %} aria-current="page"{% endif %}><i class="icon">{{ hope.icon(item.icon, 'icon-20') }}</i><span class="item-name">{{ item.label }}</span>{% if item.active %}<span class="visually-hidden"> ({{ label_current }})</span>{% endif %}</a></li>{% endfor %}
    </ul>
</nav>
