{% extends "module/install/main.tpl.html" %}
{% use "module/install/results.tpl.html" %}

{% block install %}
<p>Welcome to the installation of PHP Server Monitor. This page will guide you through the steps to install or upgrade your monitor.</p>
<p>Before we start, we need to verify your system meets the requirements.
   Required platform errors must be fixed before continuing.
</p>
{{ block('results') }}
{% if platform_satisfied %}
<a class="btn btn-primary btn-lg" href="install.php?action=config">Let's go</a>
{% endif %}
{% endblock %}
